# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Next.js
.next
out

# Node dependencies
node_modules
.pnp.*

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
